<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/fragments :: head"></head>

<body>
<header th:replace="commons/fragments :: navbar"></header>

<main class="mx-auto">
    <div class="container pt-5">
        <h1 class="text-center fw-light fst-italic text-info">About</h1>

        <div class="about-circle about-container">
            <h5 class="circle-text">
                Welcome to IgDb(Internet Game Database), the ultimate destination for gamers and enthusiasts alike! Just as IMDb is the go-to platform for movie lovers, our website is dedicated to all things gaming.
            </h5>

            <h5 class="circle-text">
                Whether you're a casual player, a hardcore gamer, or simply someone intrigued by the world of gaming, we've got you covered. Our platform serves as a comprehensive hub where you can discover, explore, and engage with a vast array of games across different genres, platforms, and eras.
            </h5>
            <br>
            <br>
            <h5 class="circle-text">
                At IgDb yo can:
            </h5>
            <br>
            <br>
            <h5 class="circle-text">
                &#x2022;Dive into our extensive database featuring a diverse collection of games, ranging from classic titles to the latest releases. Whether you're into action, adventure, strategy, role-playing, or simulation, there's something here for everyone.
            </h5>
            <br>
            <br>
            <h5 class="circle-text">
                &#x2022;Join a community of fellow Gamers who share your passion and participate in discussions.
            </h5>
            <br>
            <br>
            <h5 class="circle-text">
                IgDb is more than just a website; it's a celebration of gaming culture and a haven for gamers of all backgrounds and preferences.
                So, whether you're embarking on a quest for epic adventures or seeking the thrill of competitive gaming, join us on this exhilarating
                journey through the vast universe of gaming!
            </h5>
        </div>
    </div>
</main>

<footer th:replace="commons/fragments :: footer"></footer>

</body>

</html>