<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="commons/fragments :: head">


</head>

<body>

<div th:replace="commons/fragments :: navbar">

</div>


<div class="container-fluid">
    <div class="logged-user">
        <div class="text-center text-info mt-5">
            <div class="h5 text-info">Welcome,
                <th:block sec:authentication = "name"></th:block>
                to GameImdb
            </div>
        </div>
    </div>
</div>

<footer th:replace="commons/fragments :: footer">
</footer>

</body>
</html>
