<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/fragments :: head"></head>

<body>
<header th:replace="commons/fragments :: navbar"></header>

<main>

    <section class="pt-5 pb-2 text-center container">
        <div class="d-flex align-items-center justify-content-center">
            <img src="/images/star.png" width="40" height="40">
            <h1 class="fw-light text-info">Rate game</h1>
        </div>
    </section>

    <div class="container center text-info">

        <form class="col-md-6 form"
              th:object="${rateGameBindingModel}"
              th:action="@{/game/details/rate-game/{id}(id=*{id})}"
              th:method="patch"
              style="margin: auto;">
            <div class="card mb-3 user-info">
                <div class="card-body">
                    <div class="form-group input-field d-flex flex-column mt-3">
                        <label for="user-rate">Your rating</label>
                        <input id="user-rate"
                               th:field="*{avgRating}"
                               th:errorclass="is-invalid"
                               type="number"
                               step="0.1"
                               min="0"
                               max="10"
                               class="form-control"
                               placeholder="Enter rating">
                        <small class="invalid-feedback errors alert alert-danger">
                           Rating must be between 0 and 10.</small>
                    </div>

                    <div class="change-rating-button">
                        <button type="submit"
                                class="form-button mt-3 btn btn-info d-flex justify-content-center align-items-center"
                        >Submit rating
                        </button>
                    </div>


                </div>

            </div>
        </form>
    </div>

</main>

<footer th:replace="commons/fragments :: footer"></footer>

</body>

</html>
