<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/fragments :: head"></head>

<body>
<header th:replace="commons/fragments :: navbar"></header>

<main>
    <section class="py-4 text-center container">
        <div class="d-flex align-items-center justify-content-center">
            <img src="/images/computer-games.png" width="40" height="40">
            <h1 class="fw-light fst-italic text-info">All Games</h1>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col" th:each="g :${allGames}" th:object="${g}"  style="margin-bottom: 20px;">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top-wrapper image-size" th:src="*{pictureUrl}" alt="Game image">
                        <div class="card-body pb-1">
                            <h5 class="card-title text-info" th:text="*{name}">Game name</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-info" th:text="${#strings.substring(g.description, 0, g.description.indexOf('.') + 1)}">Game description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-outline-secondary" th:href="@{/game/details/{id}(id = *{id})}" role="button">Read more</a>
                                </div>
                                <small class="text-muted" th:text="${#strings.substring(g.avgRating, 0, 3)}">Rating</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<footer th:replace="commons/fragments :: footer"></footer>

</body>

</html>
